* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #202122;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #f5f5f5;
    color: #333;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
    /* margin-bottom: 20px; */
}

header li {
    display: inline;
    padding: 10px 20px 10px 20px;
}

header li:hover {
    background-color: #ddd;
    border-radius: 8px;
    cursor: pointer;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

section {
    padding: 20px;
    margin: 20px 0;
    background: #fff;
    border: 1px solid #ddd;
}

h1,
h2,
h3 {
    color: #333;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

p {
    margin: 10px 0;
}