/* Estilos del contenido */
section {
    padding: 20px;
    margin: 20px auto;
    background: #fff;
    border: 1px solid #ddd;
    text-align: left;
    text-wrap: balance;
}

.contenido {
    width: 70%;
    line-height: 1.5;
    text-wrap: balance;
}

/* Estilos titulos y subtitulos */
.titol-principal,
.titol,
.subtitol {
    text-transform: uppercase;
}

.titol-principal {
    font-size: 24px;
    margin-bottom: 5px;
}

.titol {
    font-size: 18px;
    margin-bottom: 5px;
}

.subtitol {
    font-size: 18px;
}

.subcontenido {
    margin-bottom: 12px;
}